body {
    display: grid;
    grid-template-rows: 5vh 90vh;
}

.header {
    background-color: white;
    grid-row: 1 / 2;
    width: 100%;
}

.container {
    background-color: grey;
    grid-row: 2 / 3;
    width: 100%;
}