@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;

    display: grid;
    grid-template-rows: 5vh 90vh;
}

.header {
    background-color: white;
    grid-row: 1 / 2;
    width: 100%;
}

.container {
    background-color: grey;
    grid-row: 2 / 3;
    width: 100%;
}

table {
    /*table-layout: fixed;*/
    width: 100%;
}

th::first-letter {
    text-transform: uppercase;
}

table>thead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: .5rem;
}

table>thead>th {
    background-color: #E8E8E8;
    padding: .5rem 0 .5rem 0;
    border-radius: .5rem;
}

tbody>tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: .5rem;
    margin: .5rem 0 .5rem 0;
}

tbody>tr>td {
    background-color: #F8F8F8;
    text-align: center;
    border-radius: .5rem;
}

tr>button {
    width: 100%;
}

button {
    color: black;
    background-color: #B8B8B8;

    border: none;
    border-radius: 10px;

    padding: 8px 40px;
    cursor: pointer;
}

button:hover {
    background-color: #4682B4;
}

button:active {
    background-color: #407FC7;
}